
*{
    padding: 0;
    margin: 0;
   
    box-sizing: border-box;
}



.body-section{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to right, rgb(255,255,255), rgb(254,215,173));
}
.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h3 {
   color: rgb(109,67, 0);
    text-shadow: 0 0 10px rgb(109,67, 0);  
    font-weight: 800;
    font-size: 25;
}

.main-container .image img{
    width: 100%;
}

.main-container .content{
    color: black;
    width: 40%;
    min-height: 100px;
}

.content h1{
    font-size: clamp(1rem, 2rem + 5vw, 3rem);
}

.content h1 span{
    color: rgb(109,67, 0);
    text-shadow: 0 0 10px rgb(109,67, 0);
}

.content .typewriter{
    font-weight: 600;
    font-size: clamp(1rem, 1rem + 5vw, 2rem);
}

.content .typewriter span{
    color: rgb(109,67, 0);
    font-size: 2.5rem;
    text-shadow: 0 0 5px rgb(109,67, 0);
}




.content p{
    font-size: clamp(0.4rem, 0.2rem + 9vw, 1rem);
    margin: 10px 0;
}

.social-links i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color:transparent;
    border: 0.2rem solid rgb(109,67, 0);
    border-radius: 50%;
    color:rgb(109,67, 0);
    margin: 5px 10px;
    font-size: 1.5rem;
    transition: 0.2s linear;
}

.social-links i:hover{
    scale: 1.3;
    color: white;
    background-color: rgb(109,67, 0);
    filter: drop-shadow(0 0 10px rgb(109,67,0));
}


.client-section img {
    width: 100px;
    height: 100px;
    align-content: center;
}
.banner {
            background: grey;
            color: #fff;
            padding: 60px 0;
            text-align: center;
        }
